.menu-lista{
	
 }
 .ul-iniciar .li-menu a{
 	list-style: none;
 	text-decoration: none;
 	color: black;
 }
 .li-menu{
 	display: inline-block;
 	padding: 10px 10px;
 	
 }

.container-main{
	padding: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 900px;
}
.perfil-imagem{
	width: 300px;
	border-radius: 200px;
}
.apresentacao{
	
 }
.icon-gmail{
	width: 27px;

}

.icon-insta{
	width: 50px;
}
.final{

}

body{
	/* 00ffff ADD8E6 */

	
}