.menu-lista{
	
 }
 .ul-iniciar .li-menu a{
 	list-style: none;
 	text-decoration: none;
 	color: black;
 	font-family: 'Cute Font', cursive;
 	font-size: 25px;
 }
 .li-menu{
 	display: inline-block;
 	padding: 10px 10px;
 	
 }

.container-main{
	text-align: justify;
	display: flex;
	align-items: center;
	width: 900px;
	margin-left: 30px; 

}
.texto-apresentacao{
	margin-left: 50px;
	font-family: 'Cute Font', cursive;
	font-size: 20px;

	 
}
.vainaweb{
	background-color: blue;
	color: #FFA500;
}
.rodrigonome{
	background: black;
	color: red;	
}
.recicla{
	background:#FFFF00; 
	color:#00FF00;
}
.turismo{
	color: #00FA9A;
}
.atividades{
	color: #DC143C;
}
.perfil-imagem{
	width: 300px;
	border-radius: 200px;
}
.icon-gmail{
	width: 27px;

}


.icon-insta{
	width: 50px;
}
a{
	text-decoration: none;
}

